# Dependencies
node_modules/
vendor/

# Logs
*.log

# Environment variables
.env

# Build outputs
dist/
build/

# encryption keys
localhost-key.pem
localhost.pem
mkcert.exe
localhost*
sw_version.json
sw_new.js
main_updateManager.js
